Repository Koronen/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-auto, shellcheck-extra, yamllint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: shfmt-posix
        name: shfmt (POSIX)
        language: system
        entry: shfmt --case-indent --indent 2 --posix --write
        types: [shell]
        exclude: ^(bash|hooks/|zsh)
      - id: shfmt-auto
        name: shfmt (auto)
        language: system
        entry: shfmt --case-indent --indent 2 --language-dialect auto --write
        files: ^(aliases$|bash|hooks/|tag-workstation/zlogin$|zsh)
        exclude: ^zsh/functions/prompt_koronen_setup$
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types: [shell]
      - id: shellcheck-extra
        name: shellcheck (extra)
        language: system
        entry: shellcheck
        files: ^(aliases|bash_profile|bashrc|tag-workstation/zlogin|zshenv|zshrc)$
      - id: yamllint
        name: yamllint
        language: system
        entry: yamllint
        types: [yaml]

Stop ignoring leftover asdf-vm completion file
  .gitignore
Due: none

Stop ignoring leftover Compose completion file
  .gitignore
Due: none

Rework zsh completion generation
  .gitignore
  hooks/post-up/gh-completion
  hooks/post-up/mise-completion
  hooks/post-up/zsh-completion
  zsh/functions/_kubectl
  zsh/functions/_sops
  zshrc
Due: shfmt-auto, shellcheck-extra

Move prompt function file
  .config/hk.pkl
  .editorconfig
  hooks/pre-up/migrate-files
  host-codespace/rcrc
  host-remote-container/rcrc
  local/share/zsh/functions/prompt_koronen_setup
  rcrc
  zshrc
Due: shfmt-auto, shellcheck-extra

Use zsh-autosuggestions from apt
  .editorconfig
  .gitmodules
  zshrc
Due: shfmt-auto, shellcheck-extra

Use zsh-syntax-highlighting from apt
  .gitmodules
  zshrc
Due: shfmt-auto, shellcheck-extra

Use vim-solarized from apt
  .gitmodules
Due: none

Use vim-ctrlp from apt
  .gitmodules
Due: none

Update ~/.docker/images.txt
  tag-workstation/docker/images.txt
Due: none

Add replaced submodules to README.md and install.sh
  README.md
  install.sh
Due: none

Don't generate tags when .git is not a directory
  tag-workstation/local/bin/git-ctags
Due: none

Use vim-airline and vim-airline-themes from apt
  .gitmodules
  README.md
  install.sh
Due: none

Add 'fd' alias
  aliases
Due: shfmt-auto, shellcheck-extra

Use ripgrep from vim
  vim/plugin/ctrlp.vim
  vimrc
Due: none

Try delta
  tag-workstation/config/git/config_workstation
Due: none

Configure rustup shell completion
  hooks/post-up/bash-completion
  hooks/post-up/zsh-completion
Due: shfmt-auto

Update ~/.config/mise/config.toml
  tag-workstation/config/mise/config.toml
Due: none

Bump hk
  .config/hk.pkl
  .config/mise.lock
Due: none

Add "toolchain" to spellfile
  tag-workstation/vim/spell/en.utf-8.add
Due: none

Remove vim-bundler plugin
  vimrc
Due: none

Move vim-commentary to a submodule
  .gitmodules
  vimrc
Due: none

Update README.md
  README.md
Due: none

Move vim-endwise to a submodule
  .gitmodules
  vimrc
Due: none

Move vim-fugitive to a submodule
  .gitmodules
  vimrc
Due: none

Set ft=pkl for hk.pkl files
  vim/ftdetect/pkl.vim
Due: none

Set ft=sh for rcm config files
  vim/ftdetect/sh.vim
Due: none

Add bat default configuration file
  tag-workstation/config/bat/config
Due: none

Make bat highlight hk.pkl files as Lua
  tag-workstation/config/bat/config
Due: none

Make bat highlight rcrc config files as Bash
  tag-workstation/config/bat/config
Due: none

Bump hk to v2
  .config/hk.pkl
  .config/mise.lock
  .config/mise.toml
Due: none

Update ~/.zshrc
  zshrc
Due: shfmt-auto, shellcheck-extra

Remove zsh install steps from this repo
  README.md
  install.sh
Due: none

Update install.sh
  README.md
  install.sh
Due: none

Update hooks/post-up/git
  hooks/post-up/git
Due: shfmt-auto

Update install.sh
  install.sh
Due: none

Bump mise min_version
  .config/mise.toml
Due: none
