Repository Koronen/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-auto, shellcheck-extra, yamllint

shfmt-auto:
  name: shfmt (auto)
  language: system
  entry: shfmt --case-indent --indent 2 --language-dialect auto --write

shellcheck-extra:
  name: shellcheck (extra)
  language: system
  entry: shellcheck

yamllint:
  name: yamllint
  language: system
  entry: yamllint

Remove asdf-vm
  bash/rc.d/completion.bash
  hooks/post-up/asdf-completion
  tag-asdf-vm/asdfrc
  tag-asdf-vm/config/shenv.d/30-asdf-vm.sh
  tag-asdf-vm/tool-versions
Due: shfmt-auto

Opt out of mise telemetry
  tag-workstation/config/shenv.d/30-workstation.sh
Due: none

Update ~/.config/mise/config.toml
  tag-workstation/config/mise/config.toml
Due: none

Update Visual Studio Code settings
  tag-workstation/config/Code/User/settings.json
Due: none

Ignore local Claude Code files
  config/git/ignore
Due: none

Update ~/.docker/images.txt
  tag-workstation/docker/images.txt
Due: none

Update Visual Studio Code extensions list
  tag-workstation/config/Code/User/extensions.txt
Due: none

Remove Elixir aliases
  hooks/post-up/remove-old-symlinks
  tag-workstation/aliases.d/elixir.sh
Due: shfmt-auto

Add mise aliases
  tag-workstation/aliases.d/mise.sh
Due: none

Add more mise aliases
  aliases.d/tmux.sh
  tag-workstation/aliases.d/mise.sh
Due: none

Add .mise.toml
  .mise.toml
Due: none

Configure yamlfmt
  .yamlfmt.yaml
  tag-workstation/config/yamlfmt/yamlfmt.yaml
Due: yamllint

Update .mise.toml
  .mise.toml
Due: none

Add 'md' alias
  tag-workstation/aliases.d/mise.sh
Due: none

Remove 'i' alias
  tag-workstation/aliases.d/mise.sh
Due: none

Remove 'install' task
  .mise.toml
Due: none

Ignore local hk overrides
  config/git/ignore
Due: none

Ignore more local mise configuration
  config/git/ignore
Due: none

Rename install_before setting
  tag-workstation/config/mise/config.toml
Due: none

Also ignore local mise lockfiles
  config/git/ignore
Due: none

Update ~/.config/yamlfmt/yamlfmt.yaml
  tag-workstation/config/yamlfmt/yamlfmt.yaml
Due: yamllint

Move shfmt options to .editorconfig
  .editorconfig
  .pre-commit-config.yaml
  vim/plugin/ctrlp.vim
Due: yamllint

Use hk
  .bin/setup
  .mise.toml
  .pre-commit-config.yaml
  hk.pkl
  host-codespace/rcrc
  host-remote-container/rcrc
  rcrc
Due: yamllint

Move telemetry opt-outs
  config/shenv.d/10-common.sh
  tag-workstation/config/shenv.d/30-telemetry.sh
  tag-workstation/config/shenv.d/30-workstation.sh
Due: none

Simplify 'gpx' alias
  aliases.d/git.sh
Due: none

Add 'gfff' alias
  aliases.d/git.sh
Due: none

Update mise aliases
  tag-workstation/aliases.d/mise.sh
Due: none

Enable primary paste
  hooks/post-up/gnome
Due: shfmt-auto

Remove vim-easy-align plugin
  vimrc
Due: none

Stop sourcing local Vim bundles file
  vimrc
Due: none

Path conditions:
  shfmt-auto: any of: ^(aliases$|bash|hooks/|tag-workstation/zlogin$|zsh), but not: ^zsh/functions/prompt_koronen_setup$
  shellcheck-extra: any of: ^(aliases|bash_profile|bashrc|tag-workstation/zlogin|zshenv|zshrc)$
  yamllint: any of: \.(yaml|yml)$
