Repository Koronen/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-auto, shellcheck-extra, yamllint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: shfmt-posix
        name: shfmt (POSIX)
        language: system
        entry: shfmt --case-indent --indent 2 --posix --write
        types: [shell]
        exclude: ^(bash|hooks/|zsh)
      - id: shfmt-auto
        name: shfmt (auto)
        language: system
        entry: shfmt --case-indent --indent 2 --language-dialect auto --write
        files: ^(aliases$|bash|hooks/|tag-workstation/zlogin$|zsh)
        exclude: ^zsh/functions/prompt_koronen_setup$
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types: [shell]
      - id: shellcheck-extra
        name: shellcheck (extra)
        language: system
        entry: shellcheck
        files: ^(aliases|bash_profile|bashrc|tag-workstation/zlogin|zshenv|zshrc)$
      - id: yamllint
        name: yamllint
        language: system
        entry: yamllint
        types: [yaml]

Lock minpac version
  hooks/post-up/minpac
  vimrc
Due: shfmt-auto

Freeze vim-rspec
  vimrc
Due: none

Freeze editorconfig-vim
  vimrc
Due: none

Remove vim-abolish plugin
  vimrc
Due: none

Remove vim-grep plugin
  vimrc
Due: none

Freeze ctrlp.vim
  vimrc
Due: none

Freeze ale
  vimrc
Due: none

Update .mise.toml
  .mise.toml
Due: none

Manage some vim plugins without minpac
  hooks/post-up/minpac
  hooks/post-up/vim-packs
  hooks/post-up/vim-spell
  vimrc
Due: shfmt-auto

Install some vim plugins only on workstations
  hooks/post-up/vim-packs
  hooks/pre-up/migrate-files
  host-codespace/rcrc
  host-remote-container/rcrc
  rcrc
  tag-workstation/vim/plugin/ale.vim
  tag-workstation/vim/plugin/vim-rspec.vim
  vimrc
Due: shfmt-auto

Fetch before checkout
  hooks/post-up/vim-packs
Due: shfmt-auto

Remove vim-bracketed-paste plugin
  vimrc
Due: none

Move some vim plugins out of the minpac pack
  hooks/post-up/vim-packs
  hooks/pre-up/migrate-files
Due: shfmt-auto

Remove vim-gnupg leftover
  hooks/post-up/remove-old-symlinks
  vim/plugin/gnupg.vim
Due: shfmt-auto

Remove vim-textobj-rubyblock plugin
  vimrc
Due: none

Remove vim-textobj-user plugin
  vimrc
Due: none

Remove vim-mkdir plugin
  vimrc
Due: none

Freeze vim-polyglot
  hooks/post-up/vim-packs
  hooks/pre-up/migrate-files
  vimrc
Due: shfmt-auto

Freeze file-line
  hooks/post-up/vim-packs
  hooks/pre-up/migrate-files
  vimrc
Due: shfmt-auto

Freeze supertab
  hooks/post-up/vim-packs
  hooks/pre-up/migrate-files
  vimrc
Due: shfmt-auto

Freeze vim-gitgutter
  hooks/post-up/vim-packs
  hooks/pre-up/migrate-files
  vimrc
Due: shfmt-auto

Freeze vim-peekaboo
  hooks/post-up/vim-packs
  hooks/pre-up/migrate-files
  vimrc
Due: shfmt-auto

Freeze golden-ratio
  hooks/post-up/vim-packs
  hooks/pre-up/migrate-files
  vimrc
Due: shfmt-auto

Move vim-colors-solarized to a submodule
  .gitmodules
  hooks/post-up/vim-packs
  hooks/pre-up/migrate-files
  host-codespace/rcrc
  host-remote-container/rcrc
  rcrc
Due: shfmt-auto

Move vim-rspec to a submodule
  .gitmodules
  hooks/post-up/vim-packs
  hooks/pre-up/migrate-files
Due: shfmt-auto

Move editorconfig-vim to a submodule
  .gitmodules
  hooks/post-up/vim-packs
  hooks/pre-up/migrate-files
Due: shfmt-auto

Move ctrlp.vim to a submodule
  .gitmodules
  hooks/post-up/vim-packs
  hooks/pre-up/migrate-files
Due: shfmt-auto

Move ale to a submodule
  .gitmodules
  hooks/post-up/vim-packs
  hooks/pre-up/migrate-files
Due: shfmt-auto

Move vim-airline to submodules
  .gitmodules
  vimrc
Due: none

Move file-line to a submodule
  .gitmodules
  hooks/post-up/vim-packs
  hooks/pre-up/migrate-files
Due: shfmt-auto

Move golden-ratio to a submodule
  .gitmodules
  hooks/post-up/vim-packs
  hooks/pre-up/migrate-files
Due: shfmt-auto

Move supertab to a submodule
  .gitmodules
  hooks/post-up/vim-packs
  hooks/pre-up/migrate-files
Due: shfmt-auto

Move vim-gitgutter to a submodule
  .gitmodules
  hooks/post-up/vim-packs
  hooks/pre-up/migrate-files
Due: shfmt-auto

Move vim-peekaboo to a submodule
  .gitmodules
  hooks/post-up/vim-packs
  hooks/pre-up/migrate-files
Due: shfmt-auto

Move vim-polyglot to a submodule
  .gitmodules
  hooks/post-up/vim-packs
  hooks/pre-up/migrate-files
Due: shfmt-auto

Trim old migration
  hooks/pre-up/migrate-files
Due: shfmt-auto

Remove Visual Studio Code extensions post-up hook
  hooks/post-up/vscode
Due: shfmt-auto

Try lazygit
  aliases.d/git.sh
  tag-workstation/config/lazygit/config.yml
Due: yamllint

Add general telemetry opt-out
  tag-workstation/config/shenv.d/30-telemetry.sh
Due: none
