Repository Koronen/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-auto, yamllint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: shfmt-posix
        name: shfmt (POSIX)
        language: system
        entry: shfmt --case-indent --indent 2 --posix --write
        types: [shell]
        exclude: ^(bash|hooks/|zsh)
      - id: shfmt-auto
        name: shfmt (auto)
        language: system
        entry: shfmt --case-indent --indent 2 --language-dialect auto --write
        files: ^(aliases$|bash|hooks/|tag-workstation/zlogin$|zsh)
        exclude: ^zsh/functions/prompt_koronen_setup$
      - id: shellcheck
        name: shellcheck
        language: script
        entry: .bin/shellcheck
        pass_filenames: false
      - id: yamllint
        name: yamllint
        language: system
        entry: yamllint
        types: [yaml]

Update ~/.docker/images.txt
  tag-workstation/docker/images.txt
Due: none

Convert .bin/shellcheck to two pre-commit hooks
  .bin/shellcheck
  .pre-commit-config.yaml
Due: yamllint

Add 'rords' alias
  tag-ruby/aliases.d/ruby_on_rails.sh
Due: none

Remove 'rordc' alias
  tag-ruby/aliases.d/ruby_on_rails.sh
Due: none

Remove 'rorg' alias
  tag-ruby/aliases.d/ruby_on_rails.sh
Due: none

Add 'gcs1' and 'gwR1' aliases
  aliases.d/git.sh
Due: none

Update 'rspecg' and 'rspecG' aliases
  tag-ruby/aliases.d/ruby.sh
Due: none

Configure Evolution
  hooks/post-up/gnome
Due: shfmt-auto

Add basic vCard file type support
  vim/ftdetect/vcard.vim
  vim/ftplugin/vcard.vim
Due: none

Add "Kubernetes" to spellfile
  vim/spell/en.utf-8.add
Due: none

Only configure Evolution if installed
  hooks/post-up/gnome
Due: shfmt-auto

Ignore local mise configuration
  config/git/ignore
Due: none

Remove unused Volta shell completions
  .gitignore
  bash/rc.d/completion.bash
  hooks/post-up/volta-completion
Due: shfmt-auto

Simplify asdf-vm shell completions
  bash/rc.d/completion.bash
  hooks/post-up/asdf-completion
Due: shfmt-auto

Add "OAuth2" and "config" to spellfile
  vim/spell/en.utf-8.add
Due: none

Move vim spelling config to workstation tag
  hooks/post-up/remove-old-symlinks
  tag-workstation/vim/spell/Makefile
  tag-workstation/vim/spell/en.utf-8.add
Due: shfmt-auto

Re-generate spell files in post-up hook
  hooks/post-up/vim
Due: shfmt-auto

Add ruby-lsp to ~/.default-gems
  tag-ruby/default-gems
Due: none

Update Visual Studio Code extensions list
  tag-workstation/config/Code/User/extensions.txt
Due: none

Update Visual Studio Code settings
  tag-workstation/config/Code/User/settings.json
Due: none

Add SOPS diff driver
  config/git/config
Due: none

Add GPG diff driver
  config/git/attributes
  config/git/config
Due: none

Configure SOPS shell completion
  bash/rc.d/completion.bash
  zsh/functions/_sops
Due: shfmt-auto

Enable Nix flakes
  tag-workstation/config/nix/nix.conf
Due: none

Remove redundant ShellCheck comments
  bash/rc.d/completion.bash
Due: shfmt-auto

Try mise
  .gitignore
  bash/rc.d/mise.bash
  hooks/post-up/mise-completion
  zsh/rc.d/mise.zsh
Due: shfmt-auto

Move asdf-vm out of workstation tag
  tag-asdf-vm/asdfrc
  tag-asdf-vm/config/shenv.d/30-asdf-vm.sh
  tag-asdf-vm/tool-versions
  tag-workstation/config/shenv.d/30-workstation.sh
Due: none

Move default gems file
  hooks/post-up/remove-old-symlinks
  tag-asdf-vm/config/shenv.d/30-asdf-vm.sh
  tag-ruby/config/ruby/default-gems
Due: shfmt-auto

Add ~/.config/mise/config.toml to workstation tag
  tag-workstation/config/mise/config.toml
Due: none

Update ~/.config/mise/config.toml
  tag-workstation/config/mise/config.toml
Due: none

Update ~/.vimrc
  vimrc
Due: none

Remove unused Phoenix Framework aliases
  hooks/post-up/remove-old-symlinks
  tag-workstation/aliases.d/phoenix_framework.sh
Due: shfmt-auto

Restore 'gm' alias
  aliases.d/git.sh
Due: none

Add 'gc{f,F}dn' aliases
  aliases.d/git.sh
Due: none

Remove legacy GNOME Terminal setting
  hooks/post-up/gnome
Due: shfmt-auto
